---
apiVersion: v1
kind: ConfigMap
metadata:
  name: belizechain-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "belizechain.labels" . | nindent 4 }}
data:
  # Global Configuration
  ENVIRONMENT: {{ .Values.global.environment | quote }}
  DOMAIN: {{ .Values.global.domain | quote }}
  
  # Service Discovery
  BLOCKCHAIN_RPC: {{ include "belizechain.blockchainRpcUrl" . | quote }}
  BLOCKCHAIN_HTTP: {{ printf "http://belizechain-node.%s.svc.cluster.local:9933" .Release.Namespace | quote }}
  POSTGRES_HOST: {{ printf "postgres.%s.svc.cluster.local" .Release.Namespace | quote }}
  POSTGRES_PORT: "5432"
  POSTGRES_DATABASE: {{ .Values.postgresql.config.database | quote }}
  POSTGRES_USER: {{ .Values.postgresql.config.username | quote }}
  REDIS_HOST: {{ printf "redis.%s.svc.cluster.local" .Release.Namespace | quote }}
  REDIS_PORT: "6379"
  IPFS_API: {{ include "belizechain.ipfsApiUrl" . | quote }}
  IPFS_GATEWAY: {{ printf "http://ipfs.%s.svc.cluster.local:8082" .Release.Namespace | quote }}
  NAWAL_API: {{ printf "http://nawal.%s.svc.cluster.local:%d" .Release.Namespace (.Values.nawal.service.port | int) | quote }}
  KINICH_API: {{ printf "http://kinich.%s.svc.cluster.local:%d" .Release.Namespace (.Values.kinich.service.port | int) | quote }}
  PAKIT_API: {{ printf "http://pakit.%s.svc.cluster.local:%d" .Release.Namespace (.Values.pakit.service.port | int) | quote }}
  
  # Blockchain Configuration
  CHAIN_SPEC: {{ .Values.blockchainNode.config.chain | quote }}
  LOG_LEVEL: {{ .Values.blockchainNode.config.logLevel | quote }}
  VALIDATOR_MODE: {{ .Values.blockchainNode.config.validator | quote }}
  
  # Nawal Configuration
  NAWAL_MIN_PARTICIPANTS: {{ .Values.nawal.config.minParticipants | quote }}
  NAWAL_MAX_PARTICIPANTS: {{ .Values.nawal.config.maxParticipants | quote }}
  
  # Kinich Configuration
  KINICH_MAX_CONCURRENT_JOBS: {{ .Values.kinich.config.maxConcurrentJobs | quote }}
  AZURE_QUANTUM_ENABLED: {{ .Values.kinich.config.azureQuantumEnabled | quote }}
  IBM_QUANTUM_ENABLED: {{ .Values.kinich.config.ibmQuantumEnabled | quote }}
  AZURE_LOCATION: {{ .Values.kinich.config.azureLocation | quote }}
  
  # Pakit Configuration
  PAKIT_IPFS_ENABLED: {{ .Values.pakit.config.ipfsEnabled | quote }}
  PAKIT_ARWEAVE_ENABLED: {{ .Values.pakit.config.arweaveEnabled | quote }}
  PAKIT_PUBLIC_MODE: {{ .Values.pakit.config.publicMode | default "view-only" | quote }}
  PUBLIC_UPLOAD_ENABLED: {{ .Values.pakit.config.publicUploadEnabled | default false | quote }}
  PUBLIC_DOWNLOAD_ENABLED: {{ .Values.pakit.config.publicDownloadEnabled | default false | quote }}
  REQUIRE_BELIZEID_FOR_PROOFS: {{ .Values.pakit.config.requireBelizeIdForProofs | default true | quote }}
  BLOCKCHAIN_ENABLED: "true"
  
  # Pakit DAG Configuration
  DAG_BACKEND_ENABLED: {{ .Values.pakit.config.dagBackendEnabled | default true | quote }}
  DAG_REPLICATION_FACTOR: {{ .Values.pakit.config.dagReplicationFactor | default 3 | quote }}
  DAG_QUANTUM_COMPRESSION: {{ .Values.pakit.config.dagQuantumCompression | default true | quote }}
  
  # Pakit ZK Proof Configuration
  ZK_PROOF_ENABLED: {{ .Values.pakit.config.zkProofEnabled | default true | quote }}
  ZK_PROOF_SYSTEM: {{ .Values.pakit.config.zkProofSystem | default "groth16" | quote }}
  ZK_VERIFY_ON_UPLOAD: {{ .Values.pakit.config.zkVerifyOnUpload | default false | quote }}
  
  # Pakit Storage Settings
  MAX_FILE_SIZE: {{ .Values.pakit.config.maxFileSize | default 104857600 | quote }}
  ENABLE_COMPRESSION: {{ .Values.pakit.config.enableCompression | default true | quote }}
  COMPRESSION_ALGORITHMS: {{ .Values.pakit.config.compressionAlgorithms | default "zstd,lz4,snappy" | quote }}
  ENABLE_DEDUPLICATION: {{ .Values.pakit.config.enableDeduplication | default true | quote }}
  CHUNK_SIZE: {{ .Values.pakit.config.chunkSize | default 4194304 | quote }}
  
  # Pakit Cache Settings
  CACHE_MAX_SIZE: {{ .Values.pakit.config.cacheMaxSize | default 10737418240 | quote }}
  CACHE_TTL: {{ .Values.pakit.config.cacheTtl | default 3600 | quote }}
  
  # Prometheus Configuration
  PROMETHEUS_RETENTION: {{ .Values.prometheus.config.retention | quote }}
  
  # IPFS Configuration
  IPFS_PROFILE: {{ .Values.ipfs.config.profile | quote }}
